.vscode
.ipynb_checkpoints
__pycache__
cGAN
envB
data/hotel_bookings.csv:Zone.Identifier
.envB
agent.py
data_prep.py
data.py
embed.log
output.csv
rag.ipynb
revenue_analysis.ipynb
some.http
upload_progress.txt
Dockerfile
.dockerignore
compose.yaml
