pysqlite3==0.5.4
pandas==2.2.3
chromadb==1.0.0
matplotlib==3.10.1
huggingface_hub==0.30.1
smolagents==1.13.0
seaborn==0.13.2
python-dotenv==1.1.0
SQLAlchemy==2.0.40
tqdm==4.67.1
google-generativeai==0.8.4
Pillow==11.1.0
uvicorn==0.34.0
requests==2.32.3
urllib3==2.3.0
certifi==2025.1.31
Jinja2==3.1.6
PyYAML==6.0.2
filelock==3.18.0
rich==14.0.0
click==8.1.8
h11==0.14.0
markupsafe==3.0.2
pygments==2.19.1
python-dateutil==2.9.0.post0
numpy==2.2.4
pytz==2025.2